@import "tailwindcss";
@theme {
  --color-main: #1d3947;
  --color-text-black: #121417;
  --color-main-orange: #daa520;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
.scroll-hidden {
  -ms-overflow-style: none; /* IE و Edge */
  scrollbar-width: none; /* Firefox */
}
